{{ $activities := newScratch }}

{{ range $guide := getenv "ACT_GUIDE" | unmarshal }}

<!---------------------------------------------------------------- 
|      Requests the list of activities from an external API      | 
----------------------------------------------------------------->

    {{ $remote := resources.GetRemote (replace $guide.list_url "{id}" $guide.id) | unmarshal }}

<!---------------------------------------------------------------- 
|      Requests info for each activity from an external API      | 
----------------------------------------------------------------->

    {{ range $remote.results }}
        {{ $activities.Set (.id | string) (merge
            (resources.GetRemote (replace $guide.info_url "{id}" .id) | unmarshal)
            (resources.GetRemote (replace $guide.slot_url "{id}" .id) | unmarshal)) }}
    {{ end }}

{{ end }}

<!----------------------------------------------------------------  
|            Merges remote activities with local ones            | 
----------------------------------------------------------------->

{{ $activities = merge $activities.Values .Site.Data.activities }}

<!----------------------------------------------------------------  
|          Saves activities to global storage for reuse          | 
----------------------------------------------------------------->

{{ hugo.Store.Set "activities" $activities }}