<section class="banner style1 orient-left content-align-justify image-position-right fullscreen onload-image-fade-in onload-content-fade-right">

    <div class="content">

        <!-- Title -->
        <h1>{{ .title }}</h1>
        <!-- Title -->


        <!-- Subtitle -->
        {{ with .subtitle }}
        <p class="major">{{ . }}</p>
        {{ end }}
        <!-- Subtitle -->


        <!-- Description -->
        <p>{{ .description | safeHTML }}</p>
        <!-- Description -->


        <!-- Button -->
        <ul class="actions stacked">
            <li>
                <a href="#spotlight-0" class="button large wide smooth-scroll-middle">{{ i18n "button_banner_begin" }}</a>
            </li>
        </ul>
        <!-- Button -->

    </div>


    <!-- Cover -->
    <div class="image">
        <img src="{{ .cover_image }}" alt="" fetchpriority="high" />
    </div>
    <!-- Cover -->

</section>