<section class="banner {{ .style }}">

    <div class="content">

        <!-- Title -->
        <h1>{{ .title }}</h1>
        <!-- Title -->


        <!-- Subtitle -->
        {{ with .subtitle }}
        <p class="major">{{ . }}</p>
        {{ end }}
        <!-- Subtitle -->


        <!-- Description -->
        <p>{{ .description | safeHTML }}</p>
        <!-- Description -->


        <!-- Button -->
        <ul class="actions stacked">
            <li>
                <a href="#spotlight-0" class="button primary large wide smooth-scroll-middle">{{ i18n "begin" }}</a>
            </li>
        </ul>
        <!-- Button -->

    </div>


    <!-- Cover -->
    <div class="image">
        <img src="{{ .cover_image }}" alt="" />
    </div>
    <!-- Cover -->

</section>