<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <div class="index align-left">



            <!-- Крендели -->
            <section id="first_details">
                <header>
                    <h2>«Печём крендели»</h2>
                </header>
                <div class="content">

                    <header>
                        <h3>Что вас ожидает</h3>
                    </header>

                    <dl>
                        <dt>Мир русской выпечки</dt>
                        <dd>
                            <p style="text-align: justify;">Вы раскроете, какое сливочное масло ели наши прабабушки, что означает «месить квашню» и как
                                пахнет свежий домашний хлеб. В уютной обстановке я помогу вам приготовить классический русский
                                крендель или поэкспериментировать с формой: испечь хлеб в форме листочка, солнца или птицы. Что
                                бы вы ни выбрали, вы научитесь правильно работать с тестом, получите удовольствие от процесса и
                                насладитесь вкусным результатом.</p>

                        </dd>
                    </dl>



                    <header>
                        <h3>Организационные детали</h3>
                    </header>

                    <ul style="text-align: justify;">
                        <li>Мастер класс провожу я или мои напарницы. Мы уже давно занимаемся хлебопечением и знаем все
                            секреты мастерства!</li>
                        <li>Продукты включены в стоимость мастер-класса.</li>
                    </ul>


                    <!-- Table -->


                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Количество человек</th>
                                    <th>Стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>До двух человек</td>
                                    <td>4500 ₽</td>
                                </tr>
                                <tr>
                                    <td>От двух человек</td>
                                    <td>1800 ₽</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="actions">
                        <li><a href="#book" class="button">Забронировать</a></li>
                    </ul>
                </div>


            </section>
            <!-- Крендели -->


            <!-- Пряники -->
            <section id="second_details">
                <header>
                    <h2>«Печём русский пряник»</h2>
                </header>
                <div class="content">

                    <header>
                        <h3>Что вас ожидает</h3>
                    </header>


                    
                    <dl>
                        <dt>Мир традиционных русских пряников</dt>
                        <dd>
                            <p style="text-align: justify;">В провинциальном доме, где царит аромат свежей выпечки, вы погрузитесь в процесс изготовления
                                пряника и узнаете много нового о нём. Почему пряники — это излюбленное лакомство у всех
                                славянских народов? В чём особенность печатного пряника? Я поделюсь с вами пряничными историями
                                во время готовки. А после вы сможете остаться на чаепитие с домашним вареньем!</p>

                        </dd>
                    </dl>

                    <header>
                        <h3>Организационные детали</h3>
                    </header>

                    <ul style="text-align: justify;">
                        <li>Мастер-класс проводится в закрытом помещении, в уютной домашней обстановке</li>
                        <li>Дети от 6 лет справляются с формовкой пряника самостоятельно, а детям помладше требуется
                            помощь взрослого</li>
                        <li>На мастер-класс не допускаются дети без сопровождения взрослых</li>
                    </ul>


                    <!-- Table -->


                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Количество человек</th>
                                    <th>Стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>До двух человек</td>
                                    <td>4500 ₽</td>
                                </tr>
                                <tr>
                                    <td>От двух человек</td>
                                    <td>2000 ₽</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul class="actions">
                        <li><a href="#book" class="button">Забронировать</a></li>
                    </ul>
                </div>

            </section>
            <!-- Пряники -->

            <!-- Куклы -->
            <section id="third_details">
                <header>
                    <h2>Изготовление русской тряпичной куклы</h2>
                </header>
                <div class="content">

                    <header>
                        <h3>Что вас ожидает</h3>
                    </header>

                    <dl>
                        <dt>Традиционная, народная</dt>
                        <dd>
                            <p style="text-align: justify;"> Когда-то тряпичные куколки были в каждой избе и их умели делать даже малые дети. Их
                                изготовление полностью безопасно: без швейных машинок и игл, лишь с тканью и нитями. Вы
                                узнаете о множестве видов кукол: веснянке, кубышке-травнице, кукле-кувадке, тульской
                                барыне, орловской кукле, пеленашке и других. Услышите о способах создания тряпичных
                                кукол и обучитесь старинной суздальской технике. А также понаблюдаете за точной работой
                                мастера и убедитесь в истинности поверья, гласящего, что куклы мастера часто похожи на
                                него самого.</p>

                        </dd>
                        <dt>Оберег</dt>
                        <dd>
                            <p> Вам откроется история русской тряпичной куклы. Вы угадаете по фотографиям, какие из
                                кукол относятся к зимним, а какие — к весенним обрядам. Мастер расскажет, что
                                кукла-покосница защищала женские руки во время покоса от травм, а куклы-неразлучники
                                оберегали брак. Вы узнаете, что символизирует каждая деталь наряда, почему у куколки нет
                                черт лица и какую роль они играли в быту.</p>

                        </dd>
                    </dl>



                    <header>
                        <h3>Организационные детали</h3>
                    </header>

                    <ul style="text-align: justify;">
                        <li>Все материалы входят в стоимость мастер-класса</li>
                    </ul>


                    <!-- Table -->


                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Количество человек</th>
                                    <th>Стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>До двух человек</td>
                                    <td>4500 ₽</td>
                                </tr>
                                <tr>
                                    <td>От двух человек</td>
                                    <td>1800 ₽</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul class="actions">
                        <li><a href="#book" class="button">Забронировать</a></li>
                    </ul>
                </div>

            </section>
            <!-- Куклы -->

                <!-- Form -->
                <section id="book">
                    <header>
                        <h3>Бронирование</h3>
                    </header>
                    <div class="content">

                        <form action="https://api.staticforms.xyz/submit" method="post">
                            <!-- Replace with accesKey sent to your email -->
                            <input type="hidden" name="accessKey" value="2cdb5e91-ca3f-4ce7-9e93-9684801229cd"> <!-- Required -->
                            <!-- Specify @ as reply to value if you want it to be customers email -->
                            <input type="hidden" name="replyTo" value="@"> <!-- Optional -->
                            <!-- If you want form to redirect to a specific url after submission -->
                            <input type="hidden" name="redirectTo" value="https://example.com/contact/success"> <!-- Optional -->
                            
                            <div class="fields">
                                <div class="field half">
                                    <label for="name">Имя</label>
                                    <input type="text" name="name" id="name" value="" required />
                                </div>
                                <div class="field half">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" value="" required />
                                </div>
                                <div class="field">
                                    <label for="department">Активность</label>
                                    <select name="$department" id="department" required>
                                        <option value="«Печём крендели»">«Печём крендели»</option>
                                        <option value="«Печём русский пряник»">«Печём русский пряник»</option>
                                        <option value="Изготовление русской тряпичной куклы">Изготовление русской тряпичной куклы</option>
                                    </select>
                                </div>
                                <div class="field third">
                                    <input type="radio" id="priority-low" name="$priority" value="Индивидуально" checked />
                                    <label for="priority-low">Индивидуально</label>
                                </div>
                                <div class="field third">
                                    <input type="radio" id="priority-normal" name="$priority" value="В группе" />
                                    <label for="priority-normal">В группе</label>
                                </div>
                                <div class="field">
                                    <label for="message">Комментарии к заказу</label>
                                    <textarea name="message" id="message" rows="6" required ></textarea>
                                </div>
                            </div>
                            <ul class="actions">
                                <li><input type="submit" name="submit" id="submit" value="Отправить" /></li>
                            </ul>
                        </form>

                    </div>
                </section>

        </div>


    </div>
</section>