<footer class="wrapper style1 align-center">

    <div class="inner">

        <!-- Socials -->
        {{ with .Site.Data.socials }}
        <ul class="icons">
            {{ range . }}
            <li>
                <a target="_blank" href="{{ .href }}" class="icon style2 brands fa-{{ (lower .icon) }}"><span class="label">{{ .icon }}</span></a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        <!-- Socials -->

    </div>

</footer>


<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
<script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}
<!-- FontAwesome JS -->