<section class="spotlight style1 {{ cond .odd `orient-right` `orient-left` }} content-align-justify image-position-center onscroll-image-fade-in" id="spotlight-{{ .index }}">

    <div class="content">

        <!-- Title -->
        <h2>{{ .title }}</h2>
        <!-- Title -->


        <!-- Annotation -->
        <p>{{ .annotation | safeHTML }}</p>
        <!-- Annotation -->


        <!-- Button -->
        <ul class="actions stacked">
            <li>
                <a href="#desc-{{ .index }}" class="button smooth-scroll-middle">{{ i18n "button_spotlight_read_more" }}</a>
            </li>
        </ul>
        <!-- Button -->

    </div>


    <!-- Cover -->
    <div class="image">
        <img src="{{ if hasPrefix .cover_image `https` }} {{ (resources.GetRemote .cover_image).RelPermalink }} {{ else }} {{ .cover_image }} {{ end }}" alt="" loading="lazy" />
    </div>
    <!-- Cover -->

</section>