{{ define "main" }}

    <!-- Banner component -->
    {{ with site.Data.banner }}
    {{ partial "banner" . }}
    {{ end }}
    <!-- Banner component -->


    <!-- Spotlight component -->
    {{ partial "_hub" (dict "context" . "template" "spotlight") }}
    <!-- Spotlight component -->


    <!-- Gallery component -->
    {{ with site.Data.gallery }}
    {{ partial "gallery" . }}
    {{ end }}
    <!-- Gallery component -->


    <!-- Footer component -->
    {{ partial "footer" . }}
    <!-- Footer component -->

{{ end }}