{{ define "main" }}

    <!-- Banner component -->
    {{ with site.Data.banner }}
    {{ partial "banner" . }}
    {{ end }}
    <!-- Banner component -->


	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "spotlight" site.Data.spotlight3 }}


    <!-- Gallery component -->
    {{ with site.Data.gallery }}
    {{ partial "gallery" . }}
    {{ end }}
    <!-- Gallery component -->


	{{ partial "items" site.Data.items }}
	{{ partial "elements" . }}
	{{ partial "elements_reference" . }}
	{{ partial "footer" . }}

{{ end }}